/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
	margin-top: 40px;
	margin-left: 50px;
	margin-right: 40px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


p {font-family: helvetica;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.1;
	margin-bottom: 15px;}

section {font-family: helvetica;
		font-weight: 400;
		font-size: 36px;
		line-height: 1.1;
		margin-bottom: 15px;}

a {text-decoration: none;
color: black;}

h1 {font-family: helvetica;
	font-size: 19px;
	font-weight: 200;
	line-height: 1.4;}

h2 {font-family: helvetica;
	font-size: 19px;
	font-weight: 200;
	line-height: 1.4;}

.indent {text-indent: 2.5rem; }

.no-indent {text-indent: 0;}

.keedy {float: left;
		width: 44%;
background-color: #fc533d;
padding-top: 28px;
padding-bottom: 32px;
padding-left: 32px;
padding-right: 32px;}

.min {float: left;
width: 44%;
background-color: #4155e1;
padding-top: 28px;
padding-bottom: 32px;
padding-left: 32px;
padding-right: 32px;}

.none {height: 2320px;}

.cem {font-weight: 400;}

.margin {margin-bottom: 12px;}

/* ------------------------------ */

h1:hover{color: rgba(0, 0, 0, 0.6);}
h2:hover{color: rgba(0, 0, 0, 0.6);}

p:hover{text-decoration: underline;
		color: #f0f0f0;}
section:hover{text-decoration: underline;
			color: #f0f0f0;}

.is-night h1{color: white;}
